{% extends 'base.html' %}
{% block title %}
Edit product
{% endblock %}

{% block content %}
<div class="container my-5" style="max-width: 600px;">
  <div class="mb-3">
    <p style="font-size: 1.1rem;">
      Editing product <span class="text-info fw-semibold">{{ product.name }}</span>
    </p>
  </div>

  <form method="post" enctype="multipart/form-data" 
        class="p-4 border rounded shadow-sm" 
        style="background-color: #fff6ed; border-color: #ba8f6a;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-3 w-100" 
            style="background-color: #ba8f6a; border-color: #ba8f6a; font-weight: 600; font-size: 1.1rem;">
      Save Changes
    </button>
  </form>
</div>
{% endblock %}
