* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    header#site-header {
        height: 20px;
        z-index: 10;
    }

    main {
        margin: auto;
        margin-top: 60px;
        max-width: 80%;

        /* home page */
        .container {
            .row {
                .card {
                    height: 360px;
                    display: flex;
                    align-items: center;
                    z-index: 0;

                    .row {
                        height: 50%;
                        img {
                            height: 100%;
                            background-color: black;
                            width: 100%;
                            object-fit: cover;
                            
                        }

                        p.card-caption {
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        .card-body {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                        }

                    }

                    a.btn {
                        font-size: smaller;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        /* about page */
    }

}